body {
		background-color: white;
}

.form-control{
  border-color: gray;
}

.helmet {
  height: 20%;
  width: 20%;
}

.highlight_grey {
  background-color: #C4C3BE;
}

.highlight_green {
  background-color: #90CD5A;
}






